html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #374151;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}